<div class="form-group row">
  <div class="col-sm-8">
    <button type="button" class="btn btn-outline-primary" routerLink='/customer/create'>
      Add new customer
    </button>
  </div>
  <div class="col-sm-4 d-flex justify-content-end">
    <input type="text" class="form-control" placeholder="Search anything" [(ngModel)]="term">
  </div>
</div>
<table class="table table-bordered table-striped mb-5">
  <thead class="thead-dark">
    <tr>
      <th>Full name</th>
      <th>Birth date</th>
      <th>Gender</th>
      <th>Customer type</th>
      <th style="width: 190px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customerList | filter: term | paginate: { itemsPerPage: 8, currentPage: p }">
      <td>{{c.fullName}}</td>
      <td>{{c.birthDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{c.gender}}</td>
      <td>{{c.customerType}}</td>
      <td>
        <a class="btn btn-sm btn-outline-success mr-2" [routerLink]="['/customer/detail/',c.id]">View</a>
        <a class="btn btn-sm btn-outline-warning mr-2" [routerLink]="['/customer/edit/',c.id]">Edit</a>
        <button class="btn btn-sm btn-outline-danger" (click)="pickDeletedCustomer(c)" data-toggle="modal"
          data-target="#modal">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" (pageBoundsCorrection)="pageBoundsChanged($event)">
  </pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Confirm delete</h5>
      </div>
      <div class="modal-body">
        Are you sure to delete customer <span class="text-danger"
          *ngIf="deletedCustomer">{{deletedCustomer.fullName}}</span>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="delete()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
