<h3 class="alert alert-info">Edit customer</h3>
<div class="my-form">
  <form [formGroup]="customerEditForm" (ngSubmit)="updateCustomer()">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Customer code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="customerCode">
        <div class="text-danger mt-2" *ngIf="customerCode.hasError('required') && customerCode.touched">
          This filed is required!
        </div>
        <div class="text-danger mt-2" *ngIf="customerCode.hasError('pattern') && customerCode.touched">
          Customer code format: KH-XXXX
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Full name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="fullName">
        <div class="text-danger mt-2" *ngIf="fullName.hasError('required') && fullName.touched">
          This filed is required!
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Birth date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" formControlName="birthDate">
        <div class="text-danger mt-2" *ngIf="birthDate.hasError('required') && birthDate.touched">
          This filed is required!
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Gender</label>
      <div class="col-sm-8">
        <select class="custom-select" formControlName="gender">
          <option value="Unknown" selected>Select customer gender</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Identifier number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="identifier">
        <div class="text-danger mt-2" *ngIf="identifier.hasError('required') && identifier.touched">
          This filed is required!
        </div>
        <div class="text-danger mt-2" *ngIf="identifier.hasError('pattern') && identifier.touched">
          Identifier number format: xxxxxxxxx (9 digits) or xxxxxxxxxxxx (12 digits)
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Telephone</label>
      <div class="col-sm-8">
        <input type="tel" class="form-control" formControlName="telephone">
        <div class="text-danger mt-2" *ngIf="telephone.hasError('required') && telephone.touched">
          This filed is required!
        </div>
        <div class="text-danger mt-2" *ngIf="telephone.hasError('pattern') && telephone.touched">
          Telephone format: 091xxxxxxx / 090xxxxxxx / (84)+90xxxxxxx / (84)+91xxxxxxx
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Email address</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" formControlName="email">
        <div class="text-danger mt-2" *ngIf="email.hasError('required') && email.touched">
          This filed is required!
        </div>
        <div class="text-danger mt-2" *ngIf="email.hasError('email') && email.touched">
          Please enter an email!
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Customer type</label>
      <div class="col-sm-8">
        <select class="custom-select" formControlName="customerType">
          <option value="Unknown" selected>Select customer type</option>
          <option value="Member">Member</option>
          <option value="Silver">Silver</option>
          <option value="Gold">Gold</option>
          <option value="Platinum">Platinum</option>
          <option value="Diamond">Diamond</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Address</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="address">
        <div class="text-danger mt-2" *ngIf="address.hasError('required') && address.touched">
          This filed is required!
        </div>
      </div>
    </div>
    <div class="form-group row mt-4">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-8 d-flex justify-content-end">
        <input type="submit" class="btn btn-primary" value="Update" [disabled]="customerEditForm.invalid">
      </div>
    </div>
  </form>
</div>
