<h3 class="alert alert-info">Create new staff</h3>
<div class="my-form">
  <form [formGroup]="staffCrateForm" (ngSubmit)="createNewStaff()">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Staff code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="staffCode">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Full name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="fullName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Birth date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control" formControlName="birthDate">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Gender</label>
      <div class="col-sm-8">
        <select class="custom-select" formControlName="gender">
          <option selected>Select customer gender</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Identifier number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="identifier">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Telephone number</label>
      <div class="col-sm-8">
        <input type="tel" class="form-control" formControlName="telephone">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Email address</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Education degree</label>
      <div class="col-sm-8">
        <select class="custom-select" formControlName="educationDegree">
          <option selected>Select education degree</option>
          <option value="Diploma">Diploma</option>
          <option value="Bachelor">Bachelor</option>
          <option value="Master">Master</option>
          <option value="Doctor">Doctor</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Position</label>
      <div class="col-sm-8">
        <select class="custom-select" formControlName="position">
          <option selected>Select position</option>
          <option value="Receptionist">Receptionist</option>
          <option value="Waiter">Waiter</option>
          <option value="Expert">Expert</option>
          <option value="Supervisor">Supervisor</option>
          <option value="Manager">Manager</option>
          <option value="Director">Director</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Salary</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" formControlName="salary">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-8">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
  </form>
</div>
