<div class="my-form">
  <h3 style="width: 100%; text-align: center; margin-bottom: 25px;">Add new staff</h3>
  <form>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Staff code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Full name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Birth date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Gender</label>
      <div class="col-sm-8">
        <select class="custom-select">
          <option selected>Select customer gender</option>
          <option value="1">Female</option>
          <option value="2">Male</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Identifier number</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Telephone number</label>
      <div class="col-sm-8">
        <input type="tel" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Email address</label>
      <div class="col-sm-8">
        <input type="email" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Education degree</label>
      <div class="col-sm-8">
        <select class="custom-select">
          <option selected>Select education degree</option>
          <option value="1">Diploma</option>
          <option value="2">Bachelor</option>
          <option value="3">Master</option>
          <option value="4">Post Doctor</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Position</label>
      <div class="col-sm-8">
        <select class="custom-select">
          <option selected>Select position</option>
          <option value="1">Lễ tân</option>
          <option value="2">Phục vụ</option>
          <option value="3">Chuyên viên</option>
          <option value="4">Giám sát</option>
          <option value="5">Quản lý</option>
          <option value="6">Giám đốc</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Salary</label>
      <div class="col-sm-8">
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-8">
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
    </div>
  </form>
</div>
