<h3 class="alert alert-info">Add new contract</h3>
<div class="my-form">
  <form>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Stay service code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Customer code</label>
      <div class="col-sm-8">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Check-in date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Check-out date</label>
      <div class="col-sm-8">
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Deposit</label>
      <div class="col-sm-8">
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Total cost</label>
      <div class="col-sm-8">
        <input type="number" class="form-control">
      </div>
    </div>
    <div class="form-group row mt-4">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-8">
        <input type="submit" class="btn btn-primary form-control" value="Submit">
      </div>
    </div>
  </form>
</div>
