<div class="form-group row">
  <div class="col-sm-8">
    <button type="button" class="btn btn-outline-primary" routerLink='/staff/create'>
      Add new staff
    </button>
  </div>
  <div class="col-sm-4 d-flex justify-content-end">
    <input type="text" class="form-control" placeholder="Search anything">
  </div>
</div>
<table class="table table-bordered table-striped mb-5">
  <thead class="thead-dark">
    <tr>
      <th>Staff code</th>
      <th>Full name</th>
      <th>Position</th>
      <th>Telephone</th>
      <th style="width: 190px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of staffs">
      <td>{{s.staffCode}}</td>
      <td>{{s.fullName}}</td>
      <td>{{s.position}}</td>
      <td>{{s.telephone}}</td>
      <td>
        <button class="btn btn-sm btn-outline-success mr-2">View</button>
        <button class="btn btn-sm btn-outline-warning mr-2">Edit</button>
        <button class="btn btn-sm btn-outline-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
