<div class="form-group row">
  <div class="col-sm-8">
    <button type="button" class="btn btn-outline-primary" routerLink='/contract/create'>
      Add new contract
    </button>
  </div>
  <div class="col-sm-4 d-flex justify-content-end">
    <input type="text" class="form-control" placeholder="Search anything">
  </div>
</div>
<table class="table table-bordered table-striped mb-5">
  <thead class="thead-dark">
    <tr>
      <th>Stay Service Code</th>
      <th>Customer Code</th>
      <th>Check-in Date</th>
      <th>Check-out Date</th>
      <th style="width: 190px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contracts">
      <td>{{c.stayServiceCode}}</td>
      <td>{{c.customerCode}}</td>
      <td>{{c.checkInDate}}</td>
      <td>{{c.checkOutDate}}</td>
      <td>
        <button class="btn btn-sm btn-outline-success mr-2">View</button>
        <button class="btn btn-sm btn-outline-warning mr-2">Edit</button>
        <button class="btn btn-sm btn-outline-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
