<div class="form-group row">
  <div class="col-sm-8">
    <button type="button" class="btn btn-outline-primary" routerLink='/stay/create'>
      Add new stay service
    </button>
  </div>
  <div class="col-sm-4 d-flex justify-content-end">
    <input type="text" class="form-control" placeholder="Search anything">
  </div>
</div>
<table class="table table-bordered table-striped mb-5">
  <thead class="thead-dark">
    <tr>
      <th>Stay service code</th>
      <th>Stay service type</th>
      <th>Rental cost</th>
      <th>Description</th>
      <th style="width: 190px;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of stays">
      <td>{{s.stayServiceCode}}</td>
      <td>{{s.stayServiceType}}</td>
      <td>{{s.rentalCost | currency}}</td>
      <td>{{s.description}}</td>
      <td>
        <a class="btn btn-sm btn-outline-success mr-2">View</a>
        <a class="btn btn-sm btn-outline-warning mr-2">Edit</a>
        <button class="btn btn-sm btn-outline-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
