<div class="container-fluid px-0" style="height: 100vh; background-color: whitesmoke;">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="height: 10%;">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Furama Đà Nẵng</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
    </ul>
  </nav>
  <div class="row px-0 mx-0" style="height: 90%;">
    <div class="col-2" style="padding-top: 15px;">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-address-card icon-center"></i>Khách
          hàng</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-users icon-center"></i>Nhân viên</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-bookmark icon-center"></i>Dịch
          vụ</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-file-signature icon-center"></i>Hợp
          đồng</a>
      </div>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
